<section class="md-whiteframe-z1 users">
  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">{{json.title}}</md-subheader>
    <md-divider></md-divider>
  </md-list>

  <form name="plan" class="padlr16">
    <md-input-container class="md-block" ng-repeat="field in json.fields">
      <div ng-if="field.type=='hidden'">
        <input ng-model="json.editData[field.model]" type="{{field.type}}" name="{{field.name}}" id="{{field.id}}">
      </div>
      <div ng-if="field.type=='text' || field.type=='email'">
        <label>{{field.name}}</label>
        <input ng-model="json.editData[field.model]" type="{{field.type}}" name="{{field.name}}" id="{{field.id}}">
      </div>
      <div ng-if="field.type=='textobject'">
        <label>{{field.name}}</label>
        <input ng-model="json.editData[field.model][field.modelDot]" type="{{field.type}}" name="{{field.name}}" id="{{field.id}}">
      </div>

      <div ng-if="field.type=='textarea'">
        <label>{{field.name}}</label>
        <textarea style="height:100px;" ng-model="json.editData[field.model]" name="{{field.name}}" id="{{field.id}}"></textarea>
      </div>

      <div ng-if="field.type=='readonly'">
        <label>{{field.name}}</label>
        <input ng-model="json.editData[field.model]" type="text" readonly="true" name="{{field.name}}" id="{{field.id}}">
      </div>

      <div ng-if="field.type=='image'">
        <label>{{field.name}}</label>
        <upload-image ng-model="json.editData[field.model]" no-view multiple inobj></upload-image>
        <div class="" ng-repeat="img in json.editData[field.model]" ng-if="json.editData[field.model]">
          <img ng-src="{{img.image | uploadpath:250:250:'fill'}}" ng-if="img.image" />
        </div>
        <a class="md-button md-raised md-primary" href="{{fileSrc + json.editData[field.model][field.modelDot]}}" >Download</a>
      </div>

      <!-- // SELECT FROM TABLE -->
      <div ng-if="field.type=='selectFromTable'">
        <label for="{{field.id}}">{{field.name}}</label>
        <br>
        <div ng-if="field.option=='multiple'">
          <md-select style="margin: 0 !important;" ng-model="json.editData[field.model]" multiple>
            <md-optgroup>
              <md-option ng-repeat="item in field.dropdownvalues track by $index" value="{{item._id}}" ng-selected="{{ item.name.Selected == true }}">{{item.name}}</md-option>
            </md-optgroup>
          </md-select>
        </div>
        <div ng-if="field.option=='single'">
          <md-select style="margin: 0 !important;" ng-model="json.editData[field.model]">
            <md-optgroup>
              <md-option ng-repeat="item in field.dropdownvalues track by $index" value="{{item._id}}" ng-selected="{{ item.name.Selected == true }}">{{item.name}}</md-option>
            </md-optgroup>
          </md-select>
        </div>
        <br>
      </div>

      <!-- // SELECT -->
      <div ng-if="field.type=='select'">
        <label for="{{field.id}}">{{field.name}} </label>
        <br>
        <select style="width: 100%;border: none;background: #fff;border-bottom: 1px solid rgb(225, 225, 225);margin-top: 10px; padding2px;" ng-model="json.editData[field.model]" ng-options="item.value as item.name for item in field.url">
        </select>
        <br>
      </div>
      <div ng-if="field.type=='selectobject'">
        <label for="{{field.id}}">{{field.name}} </label>
        <br>
        <select style="width: 100%;border: none;background: #fff;border-bottom: 1px solid rgb(225, 225, 225);margin-top: 10px; padding2px;" ng-model="json.editData[field.model][field.modelDot]" ng-options="item.value as item.name for item in field.url">
        </select>
        <br>
      </div>
    </md-input-container>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="makeReadyForApi()" ng-class="{'disabled' : !plan.$valid }">Save</md-button>
      <md-button class="md-raised md-warn" ui-sref="{{json.action[1].stateName}}">Cancel</md-button>
    </section>

  </form>
</section>
