<section class="md-whiteframe-z1 users">
  <md-list ng-cloak>
  <div class="clearfix">
      <md-subheader class="md-no-sticky all-user">{{json.title}}</md-subheader>
    <div class="flex search-bar" flex="33">
        <md-autocomplete md-search-text="pagination.search" md-items="result in json.tableData track by $index" md-min-length="0" md-search-text-change="getMoreResults();" placeholder="Search" class="layout-lg">
        </md-autocomplete>
    </div>
  </div>
    <md-divider></md-divider>

    <md-list-item class="ls-head secondary-button-padding padlr16">
      <p ng-repeat="field in json.fields">{{field.name}}</p>
      <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action">
        <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:black;"></ng-md-icon>
      </md-button>
    </md-list-item>

    <div ng-hide="json.tableData.length>=0 || json.tableData.cart.length>=0" class="loadingbox">
      Loading...
    </div>

    <!-- if Table Sortable -->

    <div ng-model="json.tableData" ui-sortable="sortableOptions" ng-if="json.sortable">
      <md-list-item ng-show="json.tableData.length>=0 " ng-repeat="result in json.tableData" class="secondary-button-padding padlr16">
        <p ng-repeat="field in json.fields">{{result|getValue:field.tableRef:field.type}}</p>
        <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action" ng-click="performAction(action,result)">
          <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:{{action.color}};"></ng-md-icon>
        </md-button>
      </md-list-item>
    </div>

    <!-- if Table Not Sortable -->

    <div no-sortable ng-if="!json.sortable">
      <md-list-item ng-show="json.tableData.length>=0 " ng-repeat="result in json.tableData" class="secondary-button-padding padlr16">
        <p ng-repeat="field in json.fields">{{result|getValue:field.tableRef:field.type}}</p>
        <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action" ng-click="performAction(action,result)">
          <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:{{action.color}};"></ng-md-icon>
        </md-button>
      </md-list-item>
    </div>

    <uib-pagination ng-if="json.tableData.length>0" total-items="pageInfo.totalitems" ng-model="pagination.pagenumber" class="pagination-sm" boundary-link-numbers="true" items-per-page="pagination.pagesize" ng-change="getMoreResults();" max-size="pageInfo.totalitems"
      ng-hide="pageInfo.lastpage==1"></uib-pagination>


  </md-list>
  <a ui-sref="{{json.createButtonState}}" ng-if="json.createButtonState">
    <!-- <a ui-sref="{{json.create.createButtonState}}" ng-if="json.create"> -->
    <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add Users">
      <md-icon class="fa fa-plus plus-icon"></md-icon>
    </md-button>
  </a>
</section>
